.container {
  margin-top: 0;
  height: 100%;

  background: rgb(220, 229, 240);
  @media (min-width: 320px) {
  }
}

.headerContainer {
  height: 100%;
}

.nav-items {
  display: flex;
  flex-wrap: wrap;
  height: 100%;

  text-decoration: none;
  color: rgb(23, 23, 28);
  font-weight: 550;

  @media (min-width: 450px) {
  }
  :first-child {
    i {
      padding-right: 0.5rem;
      height: 2rem;
      @media (min-width: 700px) {
        font-size: 20px;
      }
      @media (min-width: 768px) {
        font-size: 40px;
      }
    }
  }

  @media (min-width: 320px) {
    font-size: 12px;
  }

  @media (min-width: 375px) {
    font-size: 15px;
  }
  @media (min-width: 768px) {
    font-size: 20px;
  }
  @media (min-width: 1024px) {
    font-size: 28px;
  }
  @media (min-width: 1280px) {
    font-size: 18px;
  }
  h3 {
    @media (min-width: 320px) {
      font-size: 15px;
      width: 100%;
    }
    @media (min-width: 375px) {
    }
    @media (min-width: 768px) {
      font-size: 24px;
    }
    @media (min-width: 1024px) {
      font-size: 35px;
    }
    @media (min-width: 1280px) {
      font-size: 20px;
    }
    @media (min-width: 1280px) {
      padding-top: 1rem;
      padding-right: 1rem;
    }
    @media (min-width: 1900px) {
    }
  }
}

.nav-item:hover {
  color: rgb(82, 82, 119);
}

.active-nav-item {
  color: #333333;
}

.nav-item {
  text-decoration: none;
  color: rgb(23, 23, 28);
  flex-grow: 1;
  min-width: 20%;

  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    margin-right: 0.5rem;
    font-size: 28px;
  }
}
