.container {
  margin-top: 0;
  height: 100%;

  background: rgb(220, 229, 240);
  @media (min-width: 320px) {
  }
}

.logo {
  // float: left;

  // border: solid black 1px;
  color: rgb(73, 65, 65);
  i {
    color: black;
    padding-right: 1rem;
  }
}

.headerContainer {
  height: 100%;
}

.nav-items {
  display: flex;
  flex-wrap: wrap;

  // margin: 0 5rem 0rem 3rem;
  // padding-bottom: 1rem;
  text-decoration: none;
  color: rgb(23, 23, 28);
  font-weight: 550;
  @media (min-width: 320px) {
    font-size: 12px;
  }

  @media (min-width: 375px) {
    font-size: 15px;
  }
  @media (min-width: 768px) {
    font-size: 20px;
  }
  @media (min-width: 1024px) {
    font-size: 28px;
  }
  @media (min-width: 1280px) {
    font-size: 23px;
  }
  h3 {
    @media (min-width: 320px) {
      font-size: 15px;
      width: 100%;
      padding-top: 1rem;
    }
    @media (min-width: 375px) {
      padding-top: 2rem;
    }
    @media (min-width: 768px) {
      padding-top: 2rem;
      font-size: 24px;
    }
    @media (min-width: 1024px) {
      padding-top: 2.5rem;
      font-size: 32px;
    }
    @media (min-width: 1280px) {
      font-size: 28px;
      display: inline-block;

      width: 0;
      padding-left: 2rem;
      padding-top: 1.5rem;
    }
    @media (min-width: 1280px) {
      padding-top: 2.5rem;
    }
    @media (min-width: 1900px) {
      padding-top: 3rem;
      padding-left: 7rem;
    }
  }
}

.nav-item:hover {
  color: rgb(135, 135, 136);
}

.active-nav-item {
  color: #333333;
}

.logoBox {
}

.nav-item {
  text-decoration: none;
  color: rgb(23, 23, 28);
  flex-grow: 1;
  min-width: 20%;

  display: flex;
  justify-content: center;
  height: 2rem;

  @media (min-width: 375px) {
    padding-top: 1rem;
  }

  @media (min-width: 768px) {
    padding-top: 2rem;
  }
  @media (min-width: 1024px) {
    padding-top: 3rem;
  }
  @media (min-width: 1280px) {
  }
  @media (min-width: 1900px) {
    padding-top: 3.5rem;
  }
}
.tutoring {
  @media (min-width: 500px) {
    display: inline-block;
    margin-left: 0;
  }
  @media (min-width: 1200px) {
    display: inline-block;
    margin-left: 4rem;
  }
}
i {
  margin-right: 1rem;
}
