.container {
  margin: 0 auto;
  height: 100vh;
  display: grid;
  grid-template-rows: [header] 15% [rowbody] 75% [footer] 10% [end];
  grid-template-columns: [body] auto [end];
}

.header {
  grid-row: header;
  grid-column: body;
}

.content {
  grid-row: rowbody;
  grid-column: body;
}

.footer {
  grid-row: footer;
  grid-column: body;
}
