.container {
  height: 100%;
  background: rgb(27, 25, 36);

  @media (min-width: 320px) {
    display: flex;
    flex-direction: column;
  }
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: [leftMarg] 0.2fr [pic] 3fr [text] 2fr [rightMarg] 0.2fr;
    grid-template-rows: [header] 2rem [rowBody] auto [marginBottom] 2rem [end];
    gap: 0.5rem;
  }
}
.image {
  grid-row: rowBody/marginBottom;
  grid-column: pic;
  padding-right: 1rem;
  @media (min-width: 320px) {
    padding-right: 0;
  }
}

.pic {
  // background-size: cover;
  // height: 33rem;
  // @media (min-width: 320px) {
  //   height: 15rem;
  // }

  // @media (min-width: 768px) {
  //   height: 38rem;
  // }
  // @media (min-width: 1024px) {
  //   height: 52rem;
  // }

  // @media (min-width: 1280px) {
  //   height: 28.5rem;
  // }
  // @media (min-width: 1440px) {
  //   height: 33rem;
  // }

  // @media (min-width: 1900px) {
  //   height: 40rem;
  // }
}
.bio {
  grid-row: rowBody/marginBottom;
  grid-column: text;
  background: rgb(95, 92, 106);
  overflow-y: scroll;

  p {
    color: white;
    padding: 1rem;
    text-align: center;
    line-height: 2;
    font-family: "Open Sans", sans-serif;
    @media (min-width: 1024px) {
      font-size: 22px;
    }
  }
  h3 {
    color: black;
    text-align: center;
    margin-top: 1.5rem;
    font-family: "Open Sans", sans-serif;
    @media (min-width: 1024px) {
      font-size: 33px;
    }
  }
}
