.container {
  height: 75px;
  background: rgb(220, 229, 240);
// background: red;
 
  

}

.logo{
    float: left;
    position: relative;
    padding-top: 20px;
    padding-left: 2rem;
    // border: solid black 1px;
    color:rgb(73, 65, 65);
    i{
        color: rgb(28, 96, 121);
        padding-right:1rem;
    }

    
}



.nav-items{
    display: flex;
    
    
   
   
    padding-top: .7rem;
    justify-content: center;
    text-decoration: none;
    list-style: none;
    
    
    
}

.nav-items{
    margin: 0 5rem 0rem 3rem;
    padding-bottom: 1rem;
    text-decoration: none;
    color: rgb(23, 23, 28);
    font-size: 100%;
    
}

.nav-items:hover{
    color: rgb(83, 83, 87);
}

.active-nav-item {
    color:#333333;
}




  
  
  






