.buttons {
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  color: #fff;
  outline: none;
  padding: 12px 60px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
  background: blue;
  // border-radius: 6px;
  letter-spacing: 1.5px;
  @media (min-width: 320px) {
    font-size: 10px;
    font-weight: 300;
    padding: 2px 20px;
    letter-spacing: 0;
  }
  @media (min-width: 768px) {
    font-size: 17px;
    font-weight: 900;
    padding: 9px 60px;
    letter-spacing: 0;
  }
  @media (min-width: 1024px) {
    font-size: 22px;
    margin-left: 2rem;
    padding: 12px 60px;
  }

  @media (min-width: 1280px) {
    font-size: 13px;
    margin-left: 2rem;
    padding: 10px 60px;
  }
}

.buttons--bronze {
  background: rgb(201, 148, 69);
}
.buttons--silver {
  background: silver;
}
.buttons--gold {
  background: gold;
}
